
    CREATE TABLE IF NOT EXISTS code_completion 
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        note_id INTEGER,
        dataframe_header JSON,
        solution_dataframe JSON,
        problem_description TEXT,
        dataset_path TEXT,
        FOREIGN KEY (note_id) REFERENCES notes (id)

In [1]:
import sqlite3

def write_example_to_db(dataframe_head, dataframe_target, dataset_path, description):
    conn = sqlite3.connect("../../flashcards.db")
    cursor = conn.cursor()
    cursor.execute("INSERT INTO notes DEFAULT VALUES")
    note_id = cursor.lastrowid
    cursor.execute(
        "INSERT INTO code_completion (note_id, dataframe_header, solution_dataframe, problem_description, dataset_path) VALUES (?, ?, ?, ?, ?)",
        (note_id, dataframe_head.to_json(), dataframe_target.to_json(), description, dataset_path),
    )
    conn.commit()
    conn.close()

In [1]:
import polars as pl
import pandas as pd 


dataset_path = "backend/code_completion/data/contoso_sales.csv"

df = pl.read_csv("../../"+dataset_path)

# transformation
result = (
    df
    .group_by('Brand')
    .agg(pl.col('Quantity').sum().alias('Sum of Quantity'))
)

input_header = pd.DataFrame(df.head(3).to_dict())

result = pd.DataFrame(result.to_dict())

description = "Summarise the brand column by taking the sum of Quanaity, naming the new column 'Sum of Quanity'"
# 
#write_example_to_db(input_header, result, dataset_path, description)

In [13]:
def conv_to_dataframe(x):
    if type(x) != pl.DataFrame:
        return pl.DataFrame([x])
    return x 

# Chp3 examples 
dataset_path = "backend/code_completion/data/covid_19_deaths.csv"
df = pl.read_csv("../../"+dataset_path)
input_header = pd.DataFrame(df.head(3).to_dict())
result = df.is_duplicated().sum()
result = conv_to_dataframe(result)
result

shape: (1, 1)
┌──────────┐
│ column_0 │
│ ---      │
│ i64      │
╞══════════╡
│ 0        │
└──────────┘

In [17]:
# counting unique for each 
description = 'count unique of each column'
result = df.select(pl.all().n_unique())
write_example_to_db(input_header, result, dataset_path, description)

shape: (1, 16)
┌────────────┬────────────┬──────────┬───────┬───┬────────────┬────────────┬────────────┬──────────┐
│ Data As Of ┆ Start Date ┆ End Date ┆ Group ┆ … ┆ Pneumonia  ┆ Influenza  ┆ Pneumonia, ┆ Footnote │
│ ---        ┆ ---        ┆ ---      ┆ ---   ┆   ┆ and        ┆ Deaths     ┆ Influenza, ┆ ---      │
│ u32        ┆ u32        ┆ u32      ┆ u32   ┆   ┆ COVID-19   ┆ ---        ┆ or COVID…  ┆ u32      │
│            ┆            ┆          ┆       ┆   ┆ Deaths     ┆ u32        ┆ ---        ┆          │
│            ┆            ┆          ┆       ┆   ┆ ---        ┆            ┆ u32        ┆          │
│            ┆            ┆          ┆       ┆   ┆ u32        ┆            ┆            ┆          │
╞════════════╪════════════╪══════════╪═══════╪═══╪════════════╪════════════╪════════════╪══════════╡
│ 1          ┆ 45         ┆ 45       ┆ 3     ┆ … ┆ 2533       ┆ 493        ┆ 4264       ┆ 2        │
└────────────┴────────────┴──────────┴───────┴───┴────────────┴────────────┴────────────┴──────────┘

In [19]:
description = 'Drop all non-unique rows for combination of columns "Year" and "COVID-19 Deaths"'
result = df.filter(df.select(['Year', 'COVID-19 Deaths']).is_unique())
result

shape: (3_940, 16)
┌───────────┬───────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Data As   ┆ Start     ┆ End Date  ┆ Group    ┆ … ┆ Pneumonia ┆ Influenza ┆ Pneumonia ┆ Footnote  │
│ Of        ┆ Date      ┆ ---       ┆ ---      ┆   ┆ and       ┆ Deaths    ┆ , Influen ┆ ---       │
│ ---       ┆ ---       ┆ str       ┆ str      ┆   ┆ COVID-19  ┆ ---       ┆ za, or    ┆ str       │
│ str       ┆ str       ┆           ┆          ┆   ┆ Deaths    ┆ i64       ┆ COVID…    ┆           │
│           ┆           ┆           ┆          ┆   ┆ ---       ┆           ┆ ---       ┆           │
│           ┆           ┆           ┆          ┆   ┆ i64       ┆           ┆ i64       ┆           │
╞═══════════╪═══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 569264    ┆ 22229     ┆ 1760095   ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 95        ┆ 64        ┆ 1541      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 424       ┆ 509       ┆ 4716      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 66        ┆ 177       ┆ 1079      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 143       ┆ 219       ┆ 1390      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ …         ┆ …         ┆ …         ┆ …        ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 09/27/202 ┆ 12/01/202 ┆ 12/31/202 ┆ By Month ┆ … ┆ 246       ┆ null      ┆ 965       ┆ One or    │
│ 3         ┆ 0         ┆ 0         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
│ 09/27/202 ┆ 12/01/202 ┆ 12/31/202 ┆ By Month ┆ … ┆ 569       ┆ null      ┆ 1589      ┆ One or    │
│ 3         ┆ 1         ┆ 1         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
│ 09/27/202 ┆ 01/01/202 ┆ 01/31/202 ┆ By Month ┆ … ┆ 550       ┆ 16        ┆ 1705      ┆ null      │
│ 3         ┆ 2         ┆ 2         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 01/31/202 ┆ By Month ┆ … ┆ 337       ┆ null      ┆ 936       ┆ One or    │
│ 3         ┆ 2         ┆ 2         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
│ 09/27/202 ┆ 01/01/202 ┆ 01/31/202 ┆ By Month ┆ … ┆ 432       ┆ null      ┆ 997       ┆ One or    │
│ 3         ┆ 2         ┆ 2         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
└───────────┴───────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [25]:
q1 = pl.col('COVID-19 Deaths').quantile(0.25)
q3 = pl.col('COVID-19 Deaths').quantile(0.75)
iqr = q3 - q1
threshold = 1.5
lower_limit = q1 - iqr * threshold
upper_limit = q3 + iqr * threshold

description = "Apply IQR filter with a threshold of 1.5 based on 'COVID-19 Deaths' to dataframe"
is_outlier_iqr = (pl.col('COVID-19 Deaths') < lower_limit) | (pl.col('COVID-19 Deaths') > upper_limit)
df_iqr_outlier_removed = (
    df
    .filter(is_outlier_iqr.not_())
)
df_iqr_outlier_removed.filter(is_outlier_iqr)
result

shape: (14_917, 16)
┌───────────┬───────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Data As   ┆ Start     ┆ End Date  ┆ Group    ┆ … ┆ Pneumonia ┆ Influenza ┆ Pneumonia ┆ Footnote  │
│ Of        ┆ Date      ┆ ---       ┆ ---      ┆   ┆ and       ┆ Deaths    ┆ , Influen ┆ ---       │
│ ---       ┆ ---       ┆ str       ┆ str      ┆   ┆ COVID-19  ┆ ---       ┆ za, or    ┆ str       │
│ str       ┆ str       ┆           ┆          ┆   ┆ Deaths    ┆ i64       ┆ COVID…    ┆           │
│           ┆           ┆           ┆          ┆   ┆ ---       ┆           ┆ ---       ┆           │
│           ┆           ┆           ┆          ┆   ┆ i64       ┆           ┆ i64       ┆           │
╞═══════════╪═══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 569264    ┆ 22229     ┆ 1760095   ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 95        ┆ 64        ┆ 1541      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 424       ┆ 509       ┆ 4716      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 66        ┆ 177       ┆ 1079      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 143       ┆ 219       ┆ 1390      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ …         ┆ …         ┆ …         ┆ …        ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 09/27/202 ┆ 07/01/202 ┆ 07/31/202 ┆ By Month ┆ … ┆ 133       ┆ null      ┆ 481       ┆ One or    │
│ 3         ┆ 2         ┆ 2         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
│ 09/27/202 ┆ 08/01/202 ┆ 08/31/202 ┆ By Month ┆ … ┆ 137       ┆ null      ┆ 531       ┆ One or    │
│ 3         ┆ 2         ┆ 2         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
│ 09/27/202 ┆ 09/01/202 ┆ 09/30/202 ┆ By Month ┆ … ┆ 118       ┆ null      ┆ 457       ┆ One or    │
│ 3         ┆ 2         ┆ 2         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
│ 09/27/202 ┆ 12/01/202 ┆ 12/31/202 ┆ By Month ┆ … ┆ 107       ┆ 25        ┆ 574       ┆ null      │
│ 3         ┆ 2         ┆ 2         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 01/31/202 ┆ By Month ┆ … ┆ 106       ┆ 12        ┆ 538       ┆ null      │
│ 3         ┆ 3         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
└───────────┴───────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [27]:
q1 = pl.col('COVID-19 Deaths').quantile(0.25)
q3 = pl.col('COVID-19 Deaths').quantile(0.75)
iqr = q3 - q1
threshold = 1.5
lower_limit = q1 - iqr * threshold
upper_limit = q3 + iqr * threshold

description = "Apply IQR filter to replace outliers with median with a threshold of 1.5 based on 'COVID-19 Deaths' to dataframe"
is_outlier_iqr = (pl.col('COVID-19 Deaths') < lower_limit) | (pl.col('COVID-19 Deaths') > upper_limit)
df_iqr_outlier_replaced = (
    df
    .with_columns(
        pl.when(is_outlier_iqr)
        .then(pl.col('COVID-19 Deaths').median())
        .otherwise(pl.col('COVID-19 Deaths'))
        .alias('COVID-19 Deaths')
    )
)
df_iqr_outlier_replaced

shape: (137_700, 16)
┌───────────┬───────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Data As   ┆ Start     ┆ End Date  ┆ Group    ┆ … ┆ Pneumonia ┆ Influenza ┆ Pneumonia ┆ Footnote  │
│ Of        ┆ Date      ┆ ---       ┆ ---      ┆   ┆ and       ┆ Deaths    ┆ , Influen ┆ ---       │
│ ---       ┆ ---       ┆ str       ┆ str      ┆   ┆ COVID-19  ┆ ---       ┆ za, or    ┆ str       │
│ str       ┆ str       ┆           ┆          ┆   ┆ Deaths    ┆ i64       ┆ COVID…    ┆           │
│           ┆           ┆           ┆          ┆   ┆ ---       ┆           ┆ ---       ┆           │
│           ┆           ┆           ┆          ┆   ┆ i64       ┆           ┆ i64       ┆           │
╞═══════════╪═══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 569264    ┆ 22229     ┆ 1760095   ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 95        ┆ 64        ┆ 1541      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 424       ┆ 509       ┆ 4716      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 66        ┆ 177       ┆ 1079      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 01/01/202 ┆ 09/23/202 ┆ By Total ┆ … ┆ 143       ┆ 219       ┆ 1390      ┆ null      │
│ 3         ┆ 0         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ …         ┆ …         ┆ …         ┆ …        ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ 09/27/202 ┆ 09/01/202 ┆ 09/23/202 ┆ By Month ┆ … ┆ null      ┆ 0         ┆ 14        ┆ One or    │
│ 3         ┆ 3         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
│ 09/27/202 ┆ 09/01/202 ┆ 09/23/202 ┆ By Month ┆ … ┆ 0         ┆ 0         ┆ 10        ┆ null      │
│ 3         ┆ 3         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆           │
│ 09/27/202 ┆ 09/01/202 ┆ 09/23/202 ┆ By Month ┆ … ┆ null      ┆ 0         ┆ null      ┆ One or    │
│ 3         ┆ 3         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
│ 09/27/202 ┆ 09/01/202 ┆ 09/23/202 ┆ By Month ┆ … ┆ null      ┆ 0         ┆ 38        ┆ One or    │
│ 3         ┆ 3         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
│ 09/27/202 ┆ 09/01/202 ┆ 09/23/202 ┆ By Month ┆ … ┆ null      ┆ null      ┆ 44        ┆ One or    │
│ 3         ┆ 3         ┆ 3         ┆          ┆   ┆           ┆           ┆           ┆ more data │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ cells     │
│           ┆           ┆           ┆          ┆   ┆           ┆           ┆           ┆ have co…  │
└───────────┴───────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘